<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Students</title>
  </head>
  <body>
    <div class="container">
      <header><%- include('partials/header') %></header>
      <main>
        <h2>Talaba qo'shish</h2>

        <form method="POST" class="form" action="/talabalar">
          <input
            type="text"
            class="input_name"
            name="name"
            placeholder="Talaba ismi va familyasi "
            required
          />
          <input
            type="number"
            class="yosh"
            name="age"
            placeholder="Talaba yoshi"
            required
          />
          <input
            type="number"
            class="yosh"
            name="age"
            placeholder="Talaba kursi"
            required
          />
          <button type="submit">Add</button>
        </form>

        <h3>Talabalar ro'yhati</h3>
        <table border="1">
          <tr>
            <th class="box">ID</th>
            <th class="box">Ism</th>
            <th class="box">Yosh</th>
          </tr>

          <% users.forEach(user => { %>
          <tr class="<%= user.age < 21 ? 'red' : 'green' %>">
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
          </tr>
          <% }) %>
        </table>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
