<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>

  <body class="is-preload">
    <div id="wrapper" class="divided">
      <!-- HERO / PROFILE -->
      <section
        class="banner style1 orient-left content-align-left image-position-right fullscreen"
      >
        <div class="content">
          <h1><%= projectName %></h1>
          <p class="major"><%= description %></p>

          <ul class="actions stacked">
            <li>
              <a href="#about" class="button big wide smooth-scroll-middle">
                About Me
              </a>
            </li>
          </ul>
        </div>

        <div class="image">
          <img src="images/<%= heroImage %>" alt="Profile image" />
        </div>
      </section>

      <!-- ABOUT -->
      <section id="about" class="wrapper style1 align-center">
        <div class="inner">
          <h2>About</h2>
          <p><%= aboutText %></p>

          <ul>
            <li>🏳 Country: <%= country %></li>
            <li>⚽ Position: <%= position %></li>
            <li>🏆 Ballon d'Or: <%= ballonDor %></li>
          </ul>
        </div>
      </section>

      <!-- CAREER -->
      <% career.forEach(item => { %>
      <section
        class="spotlight style1 orient-right content-align-left image-position-center"
      >
        <div class="content">
          <h2><%= item.title %></h2>
          <p><%= item.text %></p>
        </div>
        <div class="image">
          <img src="images/<%= item.image %>" alt="" />
        </div>
      </section>
      <% }) %>

      <!-- GALLERY -->
      <section class="wrapper style1 align-center">
        <div class="inner">
          <h2>Gallery</h2>
        </div>

        <div class="gallery style2 medium lightbox">
          <% gallery.forEach(img => { %>
          <article>
            <a href="images/gallery/fulls/<%= img %>" class="image">
              <img src="images/gallery/thumbs/<%= img %>" alt="" />
            </a>
          </article>
          <% }) %>
        </div>
      </section>

      <!-- FOOTER -->
      <footer class="wrapper style1 align-center">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                target="_blank"
                href="https://facebook.com/<%= facebookUsername %>"
                class="icon brands fa-facebook"
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://tiktok.com/<%= tiktokUsername %>"
                class="icon brands fa-tiktok"
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://instagram.com/<%= instagramUsername %>"
                class="icon brands fa-instagram"
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://youtube.com/<%= youtubeUsername %>"
                class="icon brands fa-youtube"
              ></a>
            </li>
          </ul>

          <p>&copy; Lionel Messi Profile. Design: HTML5 UP.</p>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
